body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(rgb(63, 62, 62), rgb(37, 32, 32));
}

*{
    box-sizing: border-box;
}


.player_container{
    width: 100%;
    float: left;
    padding: 20px 5%;
    .col_md_6{
        width:60%;
        float: left;
        position: relative;
        top: 0;
        left: 0;
        background: #000;
        &:hover {
            .video_cont {
                transition: all 0.2s;
                opacity: 1;
                // display: block;
            }
        }
         
        video{
            width: 100%;
            background: black;
            
        }
        .video_cont{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            opacity: 0;
            transition: all 0.2s;
            
            // display: none;
            .vid_head{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 30px;
                background: rgba(0, 0, 0, 0.555);
                p{
                    font-size: 14px;
                    padding: 0 20px;
                    margin: 8px 0;
                    font-family: sans-serif;
                    color: rgb(185, 185, 185);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            #play{
            
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50% ,-50%);
                color: rgb(39, 40, 41);
                cursor: pointer;
                padding: 10px;
                background: rgb(17, 212, 212);
                border-radius: 4px;
                // box-shadow: 0px 0px 0px 0px rgb(17, 212, 212);
                transition: 0.1s all ease-in;
                &:hover{
                    box-shadow: 0px 0px 15px 4px #11d4d4ab;
                }
            }
            .footer{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 40px;
                // border: 1px solid red;
                padding: 0 20px;
                background: rgba(0, 0, 0, 0.555);
                .video_bar{
                    width: 100%;
                    height: 4px;
                    background: #6e7272ab;
                    float: left;
                    cursor: pointer;
                    position: relative;
                    top: 0;
                    left: 0;
                    border-radius: 20px;
                    // padding: 4px 0;
                    &:hover{
                        background: #6e7272d8;
                    }
                    span{
                        float: left;
                        background-image: linear-gradient(-45deg, rgb(41, 185, 142), rgba(41, 66, 59, 0.459));
                        height: 4px;
                        position: relative;
                        &::before{
                            content: '';
                            display: block;
                            width: 5px;
                            height: 4px;
                            background: rgb(41, 185, 142);
                            position: relative;
                            float: right;
                            box-shadow: 0px 0px 15px 4px #11d4d4ab;
                        }

                    }
                }
                .controls_box{
                    width: 100%;
                    height: 33px;
                    padding: 6px 5px;
                    overflow: hidden;
                    .right_box{
                        float: right;
                        .show_box{
                            float: left;
                            width: 100px;
                            position: absolute;
                            top: -120%;
                            z-index: inherit;
                            ul{
                                padding: 0;
                                margin:0;
                                list-style: none;
                                padding: 5px 0;
                                background: rgba(27, 26, 26, 0.822);
                                li{
                                    padding: 0;
                                    color: #fff;
                                    cursor: pointer;
                                    padding:5px 8px;
                                    font-family: sans-serif;
                                    font-size: 12px;
                                    
                                    &:hover{
                                        background: rgb(129, 127, 127);
                                    }
                                    &:active{
                                        transition: all 0.1s;
                                        background: rgba(27, 26, 26, 0.822);
                                    }
                                    
                                }
                                input{
                                    position: relative;
                                    top: -16px;
                                    left: -106px;
                                    float: left;
                                    appearance: none;
                                    outline: none;
                                    width: 96%;
                                    height: 4px;
                                    background: rgb(165, 165, 165);
                                    border-radius: 20px;
                                    &::before{
                                        content: '';
                                        display: block;
                                        width: 96%;
                                        padding: 10px;
                                        background: rgba(27, 26, 26, 0.822);
                                        position: absolute;
                                        z-index: -1;
                                        top: -8px;
                                        left: -8px;
                                    }
                                    &::-webkit-slider-thumb{
                                        appearance: none;
                                        width: 5px;
                                        height: 5px;
                                        background: #11d4d4; 
                                        box-shadow: 0px 0px 15px 4px #11d4d4;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                    button{
                        // min-width: 20px;
                        background: inherit;
                        border: none;
                        outline: none;
                        margin: 0 5px;
                        float: left;
                        position: relative;
                        
                        i{
                            background: none;
                            color: #fff;
                            padding: 0;
                            margin: 0;
                            font-size: 16px;
                            float: left;
                            cursor: pointer;
                            &:hover{
                                box-shadow: none;
                            }
                        }
                        .line_bar{
                            width: 0px;
                            height: 3px;
                            float: left;
                            background: #11d4d4ab;
                            position: relative;
                            top: 6px;
                            left: 5px;
                            transition: all 0.3s;
                            &:hover{
                                &::after{
                                    content: '';
                                    display: block;
                                    width: 35px;
                                    height: 3px;
                                    background: #fff;
                                    float: left;
                                    transition: all 0.3s ease-in;
                                }
                                
                            }
                        }
                        #setting_icon{
                            position: relative;
                            top: 0;
                            left: 0;
                            transition: all 0.5s;
                            &:active{
                                transform: rotate(-45deg);
                                transition: all 0.1s;
                                color: rgb(216, 216, 216);
                            }
                        }
                    }
                    .volume_btn{
                        width: 100px;
                        input{
                            position: relative;
                            top: 4px;
                            float: right;
                            appearance: none;
                            outline: none;
                            width: 60px;
                            height: 4px;
                            background: rgb(165, 165, 165);
                            border-radius: 20px;
                            &::-webkit-slider-thumb{
                                appearance: none;
                                width: 5px;
                                height: 5px;
                                background: #11d4d4; 
                                box-shadow: 0px 0px 15px 4px #11d4d4;
                                cursor: pointer;
                            }
                        }
                    }
                    // .desk_icon{
                    //     float: right;
                    // }
                    .timer{
                        margin-left: 8px;
                        float: left;
                        color: #fff;
                        font-family: sans-serif;
                        font-size: 14px;
                        line-height: 19px;
                    }
                }
            }
        }
        
    }
    .col_md_4{
        width: 40%;
        float: left;
        padding:0 10px;
        .header{
            width: 100%;
            padding: 10px;
            float: left;
            background: rgb(47, 49, 49);
            h3{
                padding: 0;
                margin: 8px 0; 
                font-family: sans-serif;
                color: rgb(17, 212, 212);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .add_box{
                color: #fff;
                cursor: pointer;
            }
        }
        .body{
            height: 300px;
            width: 100%;
            float: left;
            overflow-y: scroll;
            background: rgb(53, 54, 54);
            padding: 2px;
            ol{
                color: #fff;
                width: 450px;
                padding: 0 20px;
                float: left;
                
                li{
                    // padding: 5px;
                    float: left;
                    width: 100%;
                    margin: 8px 0;
                    cursor: pointer;
                    border-bottom: 1px solid rgb(124, 124, 124);
                    font-family: sans-serif;
                    font-size: 12px;
                    .name_box{
                        width: 280px;
                        float: left;
                        height: auto;
                        padding: 5px;
                        p{
                            padding: 0;
                            margin: 0;
                            font-size: 14px;
                            letter-spacing: 1px;
                            
                        }
                        span{
                            font-size: 12px;
                            color: #11d4d4ab;

                        }
                    }
                    .thumbnail_box{
                        width: 85px;
                        height: 60px;
                        padding: 5px;
                        float: left;
                        background: rgb(90, 90, 90);
                    }
                    &:hover{
                        .icon{
                            opacity: 1;
                        }
                    }
                    .icon{
                        float: left;
                        width: 43px;
                        height: 62px;
                        transition: all 0.1s ease-in;
                        opacity: 0;
                        i{
                            position: relative;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
            
        }
    }
}